name: Unit Tests

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

jobs:
  tests:
    permissions:
      contents: read

    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - uses: dtolnay/rust-toolchain@stable

    - name: ⚙️ Install Nextest
      uses: taiki-e/install-action@nextest

    - name: ⌛ Packages Tests
      uses: actions-rs/cargo@v1
      with:
        command: nextest
        args: run
